{% extends "base.html" %}
{% block title %}Verify OTP{% endblock %}
{% block content %}
<div class="container">
    <h3>OTP Verification</h3>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        <div class="input-group mb-3">
            <label for="otp"><strong>Enter the OTP sent to your email</strong></label>
            <input type="text" class="form-control" name="otp" id="otp" placeholder="OTP" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Verify OTP">
    </form>
</div>
{% endblock %}
